/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-giu-2017, 19.13.59
    Author     : davide
*/

.container{
    padding-bottom: 100px;
}

.left-align{
    text-align: left !important;
}

.total strong{
    font-size: 1.2em;
    
}

